body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  background-image: url('bg.jpg'); /* Home page ka background */
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: auto;
}

body.no-bg {
  background-image: url('about-bg.jpg'); /* About aur rocket details page ka background */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
}

body.contact-bg {
  background-image: url('https://i.ibb.co/5gNDtcPk/filename.jpg');
  background-size: contain;                  /* poori image dikhegi */
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #000;
}
